@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<h6>WEB524 - Summer 2020 - Sanghyuk Lee</h6>

<p>This is the Assignemnt1, which is Seneca's, helps students to improve an understanding of ASP.NET </p>
<p>Through the Employee object, you can understand and practice the following functions :</p>
<p><b>“get all", “get one”, “add new", “edit existing"</b></p>
