@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Seneca Address</strong> <br/>
    8 The Seneca Way<br />
    Markham, ON L3R 5Y1<br />
    <abbr title="Phone">P:</abbr>
    (416) 491-5050
</address>

<address>
    <strong>Sanghyuk Lee's Address</strong> <br/>
    61 Hendon Ave<br />
    North York, ON M2M 1A5<br />
    <abbr title="Phone">P:</abbr>
    (647) 673-3453
</address>

<address>
    <strong>Seneca Email:</strong>   <a href="mailto:ServiceDesk@senecacollege.ca">ServiceDesk@senecacollege.ca</a><br />
    <strong>Sanghyuk Lee Email:</strong> <a href="mailto:slee395@myseneca.ca">slee395@myseneca.ca</a>
</address>