@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment1</h1>
    <p class="lead">ASP.NET web app that uses a persistent store</p>
    <p><a href="https://learn-us-east-1-prod-fleet01-xythos.s3.amazonaws.com/5c082fb7a0cdb/14914112?response-cache-control=private%2C%20max-age%3D21600&response-content-disposition=inline%3B%20filename%2A%3DUTF-8%27%27Assignment%25201.pdf&response-content-type=application%2Fpdf&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200607T180000Z&X-Amz-SignedHeaders=host&X-Amz-Expires=21600&X-Amz-Credential=AKIAZH6WM4PLTYPZRQMY%2F20200607%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=3b4f00e4133d9c4af6d93f30729657cd19357eac7b13c6f556054d3a4cb61854" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get Keyword</h2>
        <p>
            The get keyword defines an accessor method in a property or indexer that returns the property value or the indexer element.
        </p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/get">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add Keyword</h2>
        <p>The add contextual keyword is used to define a custom event accessor that is invoked when client code subscribes to your event.</p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/add">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Set Keyword</h2>
        <p>The set keyword defines an accessor method in a property or indexer that assigns a value to the property or the indexer element.</p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/set">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How to use this App</h2>
        <p>You can manage the data of employees with edit, details functions so that you can learn in depth</p>
    </div>
</div>