@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment2</h1>
    <p class="lead">ASP.NET app working with associated data (for display-only).</p>
    <p><a href="https://learn-us-east-1-prod-fleet01-xythos.s3.amazonaws.com/5c082fb7a0cdb/15144775?response-cache-control=private%2C%20max-age%3D21600&response-content-disposition=inline%3B%20filename%2A%3DUTF-8%27%27Assignment%25202.pdf&response-content-type=application%2Fpdf&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200621T210000Z&X-Amz-SignedHeaders=host&X-Amz-Expires=21600&X-Amz-Credential=AKIAZH6WM4PLTYPZRQMY%2F20200621%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=baafa4d2297afb24eb67c20e7565d19c9bf13ac9c62a3c4c45ee4d21f20650bc" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get All</h2>
        <p>
            The "get all" query strategies for web apps is used to get the data of fetched collections.
        </p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/dotnet/api/system.linq.enumerable?view=netcore-3.1">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get One</h2>
        <p>The "get one" query strategies for web apps is used to get the data of fetched object.</p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.list-1.find?view=netcore-3.1">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How to use this App</h2>
        <p>You can manage the data of Invoices and Tracks with details functions so that you can learn in depth</p>
    </div>
</div>