<?xml version="1.0" encoding="utf-8"?>
<!--
이 파일은 웹 프로젝트의 게시/패키지 프로세스에서 사용됩니다. 이 MSBuild 파일을 편집하여 이 프로세스의 동작을
사용자 지정할 수 있습니다. 이에 대한 자세한 내용은 https://go.microsoft.com/fwlink/?LinkID=208121을 참조하세요. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8e8e1009-c051-475c-a3a3-383f971ceb05/resourceGroups/WEB524/providers/Microsoft.Web/sites/slee395-wa2020a4</ResourceId>
    <ResourceGroup>WEB524</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://slee395-wa2020a4.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>slee395-wa2020a4.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>slee395-wa2020a4</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$slee395-wa2020a4</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DataContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:slee395-ds2020.database.windows.net,1433;Initial Catalog=web524-db2020a4;Persist Security Info=False;User ID=slee395;Password=@Sang980612;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:slee395-ds2020.database.windows.net,1433;Initial Catalog=web524-db2020a4;Persist Security Info=False;User ID=slee395;Password=@Sang980612;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Assignment4.Models.ApplicationDbContext, Web app project template v2" MigrationConfiguration="Assignment4.Migrations.Configuration, Web app project template v2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DataContext-Web.config Connection String">
      <ParameterValue>Server=tcp:slee395-ds2020.database.windows.net,1433;Initial Catalog=web524-db2020a4;Persist Security Info=False;User ID=slee395;Password=@Sang980612;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>